<div class="truck-head-component">
  <div class="truck-status" (click)="showAllTrucks()">
    <div class="truck-status-title">Total</div>
    <div class="truck-status-count">{{this.totalTrucks}}</div>
  </div>
  <div class="truck-status" (click)="showRunningTrucks()">
    <div class="truck-status-title">Running</div>
    <div class="truck-status-count">{{this.runningTrucks}}</div>
  </div>
  <div class="truck-status" (click)="showStoppedTrucks()">
    <div class="truck-status-title">Stopped</div>
    <div class="truck-status-count">{{this.stoppedTrucks}}</div>
  </div>
  <div class="truck-status" (click)="showIdleTrucks()">
    <div class="truck-status-title">Idle</div>
    <div class="truck-status-count">{{this.idleTrucks}}</div>
  </div>
  <div class="truck-status">
    <div class="truck-status-title"> Error</div>
  </div>
</div>

