.truck-component{
  width: 15vw;
}

.truck-component h2{
  text-align: center;
}

.trucks .truck-info{
  background-color: lightgrey;
  font-size: 12px;
  height: 3rem;
  margin: 1px 0;
  padding: 5px 10px;
  width: 100%;

}

.truck-info .truck-number{
  font-size: 18px;
  margin: 5px 10px;
}
